<div class="sidebar">
    <div class="card-header">
        <h3>Filter</h3>
    </div>

    <div class="grid facet">
        <div class="desktop-four tablet-four mobile-four">
            <p>Position</p>
        </div>

        <div class="desktop-eight tablet-eight mobile-eight">
            <select class="select-box">
                <option value="">Software Developer</option>
                <option value="">Engineer</option>
                <option value="">Cook</option>
            </select>
        </div>
    </div>

    <div class="grid facet">
        <div class="desktop-four tablet-four mobile-four">
            <p>Availability</p>
        </div>

        <div class="desktop-eight tablet-eight mobile-eight">
            <select class="select-box">
                <option value="">Monday</option>
                <option value="">Tuesday</option>
                <option value="">Wednesday</option>
                <option value="">Thursday</option>
                <option value="">Friday</option>
                <option value="">Saturday</option>
                <option value="">Sunday</option>
            </select>
        </div>
    </div>

    <div class="grid facet">
        <div class="desktop-four tablet-four mobile-four">
            <p>Experience</p>
        </div>

        <div class="desktop-eight tablet-eight mobile-eight">
            <select class="select-box">
                <option value="">1 Year</option>
                <option value="">2 Years</option>
                <option value="">3 Years</option>
                <option value="">4 Years</option>
                <option value="">5 Years</option>
            </select>
        </div>
    </div>
</div>
