<div class="sidebar">
    <div class="card-header">
        <h3>Filters</h3>
    </div>

    {{#each filterCriteria}}
        <div class="searh-tag" on-click="removeSearchTag" data-tag-index="{{@index}}">
            <div>{{type}}: {{value}}</div>
            <i class="fa fa-times"></i>
        </div>
    {{/each}}

    {{# facets.positions.length > 1}}
        <div class="grid facet">
            <div class="desktop-four tablet-four mobile-four">
                <p>Position</p>
            </div>

            <div class="desktop-eight tablet-eight mobile-eight">
                <select class="select-box" on-change="searchApplications" data-facet="position">
                    <option value="">Select Position</option>
                    {{#each facets.positions}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    {{/}}


    <div class="grid facet">
        <div class="desktop-four tablet-four mobile-four">
            <p>Availability</p>
        </div>

        <div class="desktop-eight tablet-eight mobile-eight">
            <select class="select-box" on-change="searchApplications" data-facet="availability">
                <option value="">Select Day</option>
                <option value="M">Monday</option>
                <option value="T">Tuesday</option>
                <option value="W">Wednesday</option>
                <option value="Th">Thursday</option>
                <option value="F">Friday</option>
                <option value="S">Saturday</option>
                <option value="Su">Sunday</option>
            </select>
        </div>
    </div>


    {{# facets.experience.length > 1}}
        <div class="grid facet">
            <div class="desktop-four tablet-four mobile-four">
                <p>Experience</p>
            </div>

            <div class="desktop-eight tablet-eight mobile-eight">
                <select class="select-box" on-change="searchApplications" data-facet="experience">
                    <option value="">Select Experience</option>
                    {{#each facets.experience}}
                        <option value="{{this}}">{{this}} Years</option>
                    {{/each}}
                </select>
            </div>
        </div>
    {{/}}
</div>
